#content
  .markdown
    button(
      ng-click="obj.editingMarkdown = true"
      ng-show="!obj.editingMarkdown && isAdmin"
    ) Edit
    button(
      ng-click="obj.editingMarkdown = false; save()"
      ng-show="obj.editingMarkdown"
    ) Save
    div(
      marked="obj.markdown"
      ng-show="!obj.editingMarkdown"
    )
    textarea(
      ng-model="obj.markdown"
      ng-show="obj.editingMarkdown"
    )

    .controls
      .previous(
        ng-show="obj.previous"
        ui-sref="courses.show.page({shortName: shortName, title: obj.previous})"
      ) 
        i.fa.fa-arrow-left
        | {{obj.previous}}
      
      .next(
        ng-show="obj.next"
        ui-sref="courses.show.page({shortName: shortName, title: obj.next})"
      ) 
        i.fa.fa-arrow-right
        | {{obj.next}}
