#main
  .content
    .left
      .sidenav
        h2(
          ng-show="!course.editTitle"
        ) {{course.title}}
        i.fa.fa-pencil(
          ng-click="course.editTitle = true;"
          ng-show="!course.editTitle"
          ng-if="isAdmin"
        )
        input(
          ng-model="course.title"
          ng-show="course.editTitle"
          placeholder="title"
        )
        input(
          ng-model="course.shortName"
          ng-show="course.editTitle"
          placeholder="shortName"
        )
        i.fa.fa-save(
          ng-click="course.editTitle = false; save()"
          ng-show="course.editTitle"
        )
        
        br
        
        label(
          ng-if="isAdmin"
        )
          input(
            type="checkbox"
            ng-model="course.active"
            ng-change="save()"
          )
          | Active
        
        ul
          li(
            ng-repeat="module in modules"
          ) 
            span(
              ng-show="!module.editTitle"
              ui-sref="courses.show.page({shortName: shortName, title: module.title})"
            ) {{ module.title }}
            input(
              ng-model="module.title"
              ng-show="module.editTitle"
            )
            i.fa.fa-save(
              ng-click="module.editTitle = false; save()"
              ng-show="module.editTitle"
            )
            i.fa.fa-pencil(
              ng-click="module.editTitle = true"
              ng-show="!module.editTitle"
              ng-if="isAdmin"
            )
            i.fa.fa-trash(
              ng-if="isAdmin"
              ng-click="deleteModule(module)"
            )
            
            ul
              li(
                ng-repeat="topic in module.topics"
              ) 
                span(
                  ui-sref="courses.show.page({shortName: shortName, title: topic.title})"
                  ng-show="!topic.editTitle"
                ) {{ topic.title }}
                input(
                  ng-model="topic.title"
                  ng-show="topic.editTitle"
                )
                i.fa.fa-save(
                  ng-click="topic.editTitle = false; save()"
                  ng-show="topic.editTitle"
                )
                i.fa.fa-pencil(
                  ng-click="topic.editTitle = true"
                  ng-show="!topic.editTitle"
                  ng-if="isAdmin"
                )
                i.fa.fa-trash(
                  ng-if="isAdmin"
                  ng-click="deleteTopic(module, topic)"
                )
                
                ul(
                  ng-show="module.topics"
                )
                  li(
                    ng-repeat="lesson in topic.lessons"
                  )
                    span(
                      ui-sref="courses.show.page({shortName: shortName, title: lesson.title})"
                      ng-show="!lesson.editTitle"
                    ) {{ lesson.title }}
                    input(
                      ng-model="lesson.title"
                      ng-show="lesson.editTitle"
                    )
                    i.fa.fa-save(
                      ng-click="lesson.editTitle = false; save()"
                      ng-show="lesson.editTitle"
                    )
                    i.fa.fa-pencil(
                      ng-click="lesson.editTitle = true"
                      ng-show="!lesson.editTitle"
                      ng-if="isAdmin"
                    )
                    i.fa.fa-trash(
                      ng-if="isAdmin"
                      ng-click="deleteLesson(topic, lesson)"
                    )
                    
                  li(
                    ng-if="isAdmin"
                  )
                    span.new(
                      ng-click="newLesson(topic)"
                    )
                      i.fa.fa-plus
                      | New Lesson
              li(
                ng-if="isAdmin"
              )
                span.new(
                  ng-click="newTopic(module)"
                )
                  i.fa.fa-plus
                  | New Topic
          li(
            ng-if="isAdmin"
          )
            span.new(
              ng-click="newModule()"
            )
              i.fa.fa-plus
              | New Module
            
        .ending
    .right(
      ui-view="content"
    )
